body{
    font-family: "Roboto", sans-serif;
    background-color: #bdd5ff;
    width: 100vw;
    height: 100vw;
}

.menu_log_in{
    display: flex;
    width: 100vw;
    height: 50px;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 18px; 
}

.menu, .log_in {
    margin: 15px;
    text-decoration: none;
    color: #0e0e0f;
}

.menu:hover,
.log_in:hover {
    font-size: 105%;
    font-weight: bold;
}

main{
    display: flex;
    width: 100vw;
}

.main_part{
    display: flexbox;
    width: 50%;
    flex-grow: unset;
}

#tagline {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    /* identical to box height, or 115% */
}

.aside{
    display: flexbox;
    width: 50%;
}

input[type="search"] {
    /* position: absolute; */
    width: 425px;
    height: 56px;
    /* left: 150px;
    top: 346px; */

    padding-left: 40px;
    border: none;
    background: transparent url("Rectangle.svg");
    margin: 0;
    font-weight: 56px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 425px;
    height: 56px;
}

.container {
    position: absolute;
    left: 150px;
    top: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border-radius: 5px;
    width: 425px;
    height: 56px;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("arrow.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    border-color: #1184d600;
    outline: none;
}

.button-arrow {
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3px;
    top: 4px;
}

.button-glass {
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
}



