html{
    width: 100vw;
    font: 25px Times;
}

body{
    display: grid;
    grid-template: 100px 300px 100px/2fr 1fr;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    text-align: center;
}

header{
    background-color: gray;
    grid-area: header;
}

main{
    background-color: gold;
    grid-area: main;
    display: grid;
    grid-template: 3fr 1fr 1fr/1fr 1fr;
    grid-template-areas: 
    "main_name main_name"
    "info1 info2"
    "info3 info3";
    grid-gap: 10px;

}

#main_name{
    grid-area: main_name
}

.info{
    background-color: goldenrod;
    height: 30px;
}
#info1{
    grid-area: info1;
}
#info2{
    grid-area: info2;
}
#info3{
    grid-area: info3;
}

aside{
    background-color: green;
    grid-area: aside;
}

footer{
    background-color: gray;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: space-between;/*Слева от 1 секции почему-то нет отступа. Что сделала не так?*/
    align-items: center;
}

.section_footer{
    background-color: white;
    width: 20vw;
    height: 80%;
}