html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
}

.container__main {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: #BDD5FF;
    height: 50vh;
}
.menu_box{
    display: flex;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.menu{
    color: black;
    text-decoration: none;
    justify-content: flex-start;
    margin-left: 30px;
}    

.log_in{
    text-decoration: none;
    color: black;
    justify-content: flex-end;/*вот тут я хотела, чтобы они были с правой стороны страницы, но не срабатывает*/
    margin-left: 30px;
}
.slogan_and_picture{
    display: flex;
    justify-content: center;
}

.slogan_and_search{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.slogan{
    font-size: 55px;
}


input[type="search"] {
    /* position: absolute; */
    width: 425px;
    height: 56px;
    /* left: 150px;
    top: 346px; */

    padding-left: 40px;
    border: none;
    background: transparent url("Rectangle.svg");
    margin: 0;
    font-weight: 56px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 425px;
    height: 56px;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border-radius: 5px;
    width: 425px;
    height: 56px;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("arrow.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    border-color: #1184d600;
    outline: none;
}

.button-arrow {
    background-color: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3px;
    top: 4px;
}

.button-glass {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
    order: -1;
}

#side_picture {
    display: flex;
    size: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
}

.about {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.about_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 226px;
    text-align: center;
}

.about_item img {
    width: 50px;
    margin: 10px;
}

.about_item_header{
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.pay{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.pay_head{
    text-align: center;
    font-size: 40px;
}

.pay_klarna{
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.pay_klarna_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 226px;
    text-align: flex-start;
}

.pay_klarna_item img {
    width: 300px
}

.pay_klarna_item_head{
    font-weight: bold;
    margin-bottom: 10px;
}